@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";

.font-playfair {
  font-family: "Playfair Display", serif;
}

.font-DM {
  font-family: "DM Sans", sans-serif;
}

body {
  font-family: "DM Sans", sans-serif;
}
